html, body
{
	height: 100%;
}

body
{
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px;
	background: #000000;
	font-size: 10pt;
	color: #6F644C;
}

table { width: 100%; box-sizing: border-box; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1); font-family: 'Ubuntu'; /*border-collapse: collapse;*/ border-spacing: 0; background-color: #545454; }

th, td { border: 1px solid rgba(255,255,255,0.1); box-sizing: border-box; }

th { text-transform: uppercase; font-size:25px; font-weight:700; padding: 10px 0; color: rgba(255,255,255, 0.8); background-color: #292929; letter-spacing: 1px; }

td { width: 14.285%; transition: all 0.3s; font-size: 14px; color: rgba(255,255,255); font-weight: 400; font-size: 15px; padding: 1.5% 1.5% 5%; vertical-align: initial; padding: 1.5% 0 ; height: 75px; }

.day:hover { background-color: rgba(0,0,0,0.6); cursor:pointer; }

.today { color: #FFF; background-color: rgba(0,0,0,.25) !important; }

