<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.CashStatsMapper">
	<!-- 2019년도 월별 지출 -->
	<select id="selectTotalOfMonthByYear" resultType="java.util.Map">
		SELECT 
		YEAR(cashbook_date) year,
			sum(case when month(cashbook_date)=1 then cashbook_price END) january,
			sum(case when month(cashbook_date)=2 then cashbook_price END) february,
			sum(case when month(cashbook_date)=3 then cashbook_price END) march,
			sum(case when month(cashbook_date)=4 then cashbook_price END) april,
			sum(case when month(cashbook_date)=5 then cashbook_price END) may,
			sum(case when month(cashbook_date)=6 then cashbook_price END) june,
			sum(case when month(cashbook_date)=7 then cashbook_price END) july,
			sum(case when month(cashbook_date)=8 then cashbook_price END) august,
			sum(case when month(cashbook_date)=9 then cashbook_price END) september,
			sum(case when month(cashbook_date)=10 then cashbook_price END) october,
			sum(case when month(cashbook_date)=11 then cashbook_price END) november,
			sum(case when month(cashbook_date)=12 then cashbook_price END) december
		FROM cashbook
		WHERE YEAR(cashbook_date) = 2019
		AND cashbook_kind = "지출"
		GROUP BY Year(cashbook_date)
	</select>
	<!-- 년도별 수입/지출 -->
	<select id="selectTotalOutAndInByYear" parameterType="int" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) '년',
			sum(case when cashbook_kind='수입' then cashbook_price END) '수입',
			sum(case when cashbook_kind='지출' then cashbook_price END) '지출'
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		GROUP BY Year(cashbook_date)
	</select>
	<!-- 년도 카테고리별 지출 -->
	<select id="selectTotalOfCategoryNameByYear" parameterType="int" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) year,
			nvl(SUM(case when category_name='관광' then cashbook_price END), 0)'관광',
			nvl(sum(case when category_name='급여' then cashbook_price END), 0) '급여',
			nvl(sum(case when category_name='생활' then cashbook_price END), 0) '생활',
			nvl(sum(case when category_name='식비' then cashbook_price END), 0) '식비',
			nvl(sum(case when category_name='용돈' then cashbook_price END), 0) '용돈',
			nvl(sum(case when category_name='의료' then cashbook_price END), 0) '의료'
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
	</select>
	<!-- 년도별 총 지출 -->
	<select id="selectTotalOutByYear" resultType="java.util.Map">
		SELECT 
			sum(case when YEAR(cashbook_date)=2018 then cashbook_price END) 'a지출',
			sum(case when YEAR(cashbook_date)=2019 then cashbook_price END) 'b지출',
			sum(case when YEAR(cashbook_date)=2020 then cashbook_price END) 'c지출'
		FROM cashbook
		WHERE cashbook_kind = '지출'
	</select>
	<!-- 년도별 총 수입 -->
	<select id="selectTotalInByYear" resultType="java.util.Map">
		SELECT 
			sum(case when YEAR(cashbook_date)=2018 then cashbook_price END) 'a수입',
			sum(case when YEAR(cashbook_date)=2019 then cashbook_price END) 'b수입',
			sum(case when YEAR(cashbook_date)=2020 then cashbook_price END) 'c수입'
		FROM cashbook
		WHERE cashbook_kind = '수입'
	</select>
	<!-- 카테고리별 수입 -->
	<select id="selectTotalInByCategory" parameterType="int" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) year, 
			nvl(SUM(case when category_name='급여' then cashbook_price END), 0) '급여',
			nvl(SUM(case when category_name='용돈' then cashbook_price END), 0) '용돈'
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
	</select>
	<!-- 월별 이익 -->
	<select id="selectTotalSumByYear" parameterType="int" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) '년',
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=1 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=1 then cashbook_price ELSE 0 END)),0) january,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=2 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=2 then cashbook_price ELSE 0 END)),0) february,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=3 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=3 then cashbook_price ELSE 0 END)),0) march,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=4 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=4 then cashbook_price ELSE 0 END)),0) april,	
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=5 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=5 then cashbook_price ELSE 0 END)),0) may,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=6 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=6 then cashbook_price ELSE 0 END)),0) june,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=7 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=7 then cashbook_price ELSE 0 END)),0) july,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=8 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=8 then cashbook_price ELSE 0 END)),0) august,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=9 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=9 then cashbook_price ELSE 0 END)),0) september,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=10 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=10 then cashbook_price ELSE 0 END)),0) october,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=11 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=11 then cashbook_price ELSE 0 END)),0) november,
			nvl(SUM((case when cashbook_kind = '수입'AND MONTH(cashbook_date)=12 then cashbook_price ELSE 0 END)
			-(case when cashbook_kind = '지출' AND MONTH(cashbook_date)=12 then cashbook_price ELSE 0 END)),0) december
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
	</select>
	<!-- 년도별 최고 수입 -->
	<select id="selectInMaxPriceByYear" resultType="java.util.Map">
		SELECT cashbook_kind,
			nvl(MAX(case when YEAR(cashbook_date)=2018 then cashbook_price END),0) 'one',
			nvl(MAX(case when YEAR(cashbook_date)=2019 then cashbook_price END),0) 'two',
			nvl(MAX(case when YEAR(cashbook_date)=2020 then cashbook_price END),0) 'three'
		FROM cashbook
		WHERE cashbook_kind = '수입'
	</select>
	<!-- 년도별 최저 수입 -->
	<select id="selectInMinPriceByYear" resultType="java.util.Map">
		SELECT cashbook_kind,
			nvl(MIN(case when YEAR(cashbook_date)=2018 then cashbook_price END),0) 'one',
			nvl(MIN(case when YEAR(cashbook_date)=2019 then cashbook_price END),0) 'two',
			nvl(MIN(case when YEAR(cashbook_date)=2020 then cashbook_price END),0) 'three'
		FROM cashbook
		WHERE cashbook_kind = '수입'
	</select>
	<!-- 년도별 최고 지출 -->
	<select id="selectOutMaxPriceByYear" resultType="java.util.Map">
		SELECT cashbook_kind,
			nvl(MAX(case when YEAR(cashbook_date)=2018 then cashbook_price END),0) 'one',
			nvl(MAX(case when YEAR(cashbook_date)=2019 then cashbook_price END),0) 'two',
			nvl(MAX(case when YEAR(cashbook_date)=2020 then cashbook_price END),0) 'three'
		FROM cashbook
		WHERE cashbook_kind = '지출'
	</select>
</mapper>